/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 05/03/2024 11:36:10
*/

.VideoCard a{
  color: inherit;
  text-decoration: none;
}
