/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 05/03/2024 12:05:05
*/

.PlayListItem .border{
  /* background-color: white; */
}
.PlayListItem:hover {
  background-color: var(--bg-primary);
  color: white;
}
.PlayListItem.current{
  background-color: var(--bg-primary) !important;
  color: white !important;
}
.navbar-brand{
  color: var(--bg-primary) !important;
  font-weight: bold;
}
